script(type='text/javascript', src='/javascripts/kinetic.js')
script(type='text/javascript', src='/javascripts/game.js')
script(type='text/javascript', src='/javascripts/gameNow.js')


h1= title
p
	strong#state Loading

p#gameId= gameId	

div#waiting
	p Waiting for players

canvas#gameMap(width="800",height="500")

a(href="/") Home