h1 Welcome to Light Bikes - similar (but not TRON)

form(action="/join", method="post")
	<br /><br />
	- if (twitterName)
		img(id="twitterImg", src="http://api.twitter.com/1/users/profile_image/#{twitterName}.json")
		p#twitterName #{twitterName}
		br.clear
		<br /><br />
		label Join Game Name (if not game entered - a waiting player will be joined
		input(name="game")
		<br /><br />
		label Start
		input(type="submit", value="Join")
	- else
		a(href="/auth/twitter")
			img(src="https://si0.twimg.com/images/dev/buttons/sign-in-with-twitter-d.png")

	
	
	
	
div#waitingGames
	h2 Pending Games
	ul
		each item in waitingGames
			li
				a(href="/game/#{item}/", target="_blank")= item
		
		
div#runningGames
	h2 Running Games
	ul
		each item in runningGames
			li= item