div.fullWidth
	h1 Welcome to NodeTron
	
	p This is my entry to NowJS' RTT competition. There are still some outstanding issues:
	ul
		li Collision detection is a bit excited at times
		li May have some network lag, all bike coordinates are sent on move change
		li Add some graphics to the bikes rather then dots
		li Change waiting message / game over message
	
	div.clear20
	p To play just 
		a(href="/") sign in with twitter.
	
	div.clear20
	
	p This is built in nodeJS, using Express and NowJS. The canvas / game loop is built using KineticJS 