body {
  padding: 0px;
  font: 12px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#gameMap {
	background-color: #000;
	height:500px;
	width:800px;
}

#waiting p {
	font-size:24px;
	position: absolute;
	top:200px;
	left:100px;
	background:#FFFFFF;
	color:#FF0000;
}


#twitterName {
	font-size: 16px;
	float: left;
}

#twitterImg {
	float: left;
}


.clear {
	clear: both;
}

#twitterName {
	display: none;
}
